        <footer>
             <div class="footer">
                 <div class="sec">
                    <h3>About Chef's Corner</h3>
                        <p>About</p>
                        <p>Gift Card</p>
                        <p>Student Discount</p>
                 </div>
                 <div class="sec">
                    <h3>Help & support</h3>
                        <p>FAQ</p>
                        <p>Testimonials</p>
                        <p>Contact Us</p>
                        <p>Terms & Conditions</p>
                 </div>
                 <div class="sec">
                     <h3>Sign up for our newsletter</h3>
                     <p>Enter your email for a chance to win a $150 <br> e-gift card!</p>
                    <form action="post">
                        <input type="email" placeholder="Email">
                        <button type="submit" class="btn-sm btn-secondary">Sign Up</button>
                    </form>
                 </div>
             </div>
             <div class="icons">
                 <img src="insta.jfif" alt="">
                 <img src="twit.png" alt="">
                 <img src="fb.png" alt="">
                 <img src="snap.png" alt="">
                <p class="copyright">&copy; 2020 Chef's Corner</p>
             </div>
         </footer>
    </div>

</body>
</html>