{{> header}}
{{> navbar}}
<div id="about">
    <p>
        Our chefs create dishes they love in our local kitchens.
        Each chef has their own style, which brings tons
        of variety to our menu, from juicy roast chicken to pan-seared salmon. Once it’s ready to head your way, we chill the food to keep it fresh.
    </p>
    <p>
        Mealtimes are more than food. They’re time to relax. Sometimes that means recharging all by yourself, other times it’s about connecting with friends and family. However you eat your meals, we’re here to make it as easy as it is delicious.
    </p>
</div>

{{> footer}}
