
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    scroll-behavior: smooth;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li,a,button{
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    width: 110px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    
}
.logo{
    cursor: pointer;
    font-family: 'Montez', cursive;
    font-weight: 500;
    font-size: 35px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.logo:hover{
    color: #0088a9;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav-links li a{
    color: black;
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: #0088a9;

}
button{
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
.btn2{
    background-color: transparent;
    border:solid black;
    border-color: rgba(0, 136,169, 0.4);
    color: black;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
.hero{
    background: url("https://img.pngio.com/food-background-images-94-images-in-co-381169-png-images-pngio-food-png-background-1440_619.png") center center  ;
    margin-top: 65px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero h1{
    font-size: 6em;
    text-align: center;
}
.hero p{
    text-align: center;
    font-size: 1.7em;
    padding: 20px;
    color: grey;
}
.cta{
    padding: 30px;
    text-align: center;
}
.cta button{
    width: 300px;
    height: 60px;
    font-size: 1.4em;
}




main h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 3em;
    color:166E82;
    font-family: 'Roboto Mono', monospace;
}
main ul{
    display: flex;
    width: 100%;
    justify-content: center;
}
main ul li{
    color: #325259;
    list-style-type:none ;
    width: 300px;
    text-align: center;
}
.content{
    padding: 60px 0;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.7em;


}
.content .box{
    border-radius: 20px;
    width: 300px;
    margin: 0 20px;
} 
.content h2{
    text-align: center;
    padding-top: 20px;
}
.content p{
    margin:0 10px;
    padding: 40px 0;
    font-family: "Monserrat", sans-serif;
    font-size: 1.7em;
    text-align: center;
    color: grey;

}
.content img{
    width: 290px;
    height: 225px;
    border-radius: 20px;
}
main button{
    width: 300px;
    height: 60px;
    font-size: 1.7em;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    border: solid #003541;
    color: #003541;
    opacity: 0.8;
    border-radius: 5px;

}
main{
    text-align: center;
    padding: 20px 0;
}
.top-meal{
    text-align: center;
}
.top-meal h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 3em;
    color:166E82;
    font-family: 'Roboto Mono', monospace;

}
.top-meal p{
    color: #325259;
    text-align: center;
    font-family: "Monserrat", sans-serif;
    font-size: 16px;
}
.top-meal-listing{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.top-meal-listing .meal-box{
    margin: 20px;
}
.top-meal-listing .meal-box h3{
    padding: 20px 0;
    font-family: "Monserrat", sans-serif;
}
.top-meal-listing .meal-box h4{
    padding: 20px 0;
    font-family: "Monserrat", sans-serif;
    color: #325259;
}
.meal-box img{
    width: 200px;
    height: 200px;
}
.top-meal button{
    width: 200px;
    height: 50px;
    font-size: 1.2em;
}

footer{
    font-family: "Monserrat", sans-serif;
    color: black;
    margin-top: 60px;
    padding-top: 20px;
}
footer .footer{
    display: flex;
    justify-content: space-evenly;
}
.footer h2{
    padding: 20px 0;;
}
.footer p{
    padding: 8px 0;
    color: grey;
}
.footer button{
    height: 40px;
}
footer input{
    height: 35px;
    border-radius: 5px;
    margin: 30px 0;
}
footer .icons{
    margin: 30px 0;
    text-align: center;
    color: #010101;
}
.icons img{
    height: 30px;
}
.icons p{
    padding: 20px 0;
}

.btm-cta{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-image: url("https://thumbs.dreamstime.com/z/italian-food-dishes-pasta-bruschette-plates-dinner-wine-free-space-text-copy-top-view-various-red-white-117627476.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#about{
    margin-top: 65px;
}
#about p{
    font-family: "Monserrat", sans-serif;
    font-size: 1.3em;
    color: #003541;
    padding: 40px 200px;
}
@media (max-width: 415px) {
    .hero{
        background: url("https://img.pngio.com/food-background-images-94-images-in-co-381169-png-images-pngio-food-png-background-1440_619.png") center center  ;
        margin: 65px auto;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .hero h1{
        padding-top: 50px;
        font-size: 3em;
        text-align: center;
    }
    .hero p{
        text-align: center;
        font-size: 1em;
        padding: 20px;
        color: grey;
    }
    .cta button{
        width: 250px;
        height: 50px;
        font-size: 1.2em;
    }

    main h1{
        padding-top: 0px;
        padding-bottom: 20px;
        font-size: 2.5em;
    }
    main ul{
        width: 100%;
        font-size: 0.5em;

    }
    main ul li{
        color: grey;
        list-style-type:none ;
        text-align: center;
        margin: 0 auto;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin: 0 0;
        width: 100%;
        justify-content: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 0.7em;
    
    
    }
    .content .box{
        border-radius: 20px;
        width: 250px;
        margin: 0 auto;
        margin-top: 30px;
    } 
    .content h2{
        text-align: center;
        padding-top: 15px;
        font-size: 2em
    }
    .content p{
        margin:0 10px;
        padding: 5px 0;
        font-family: "Monserrat", sans-serif;
        font-size: 1.3em;
        text-align: center;
        color: grey;
    
    }
    .content img{
        width: 240px;
        height: 200px;
        border-radius: 20px;
    }
    main button{
        width: 250px;
        height: 50px;
        font-size: 1.2em;
    }
    

    .top-meal{
        text-align: center;
    }
    .top-meal h1{
        font-size: 2.5em;
    }
    .top-meal-listing{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-meal-listing .meal-box{
        margin: 0px;
    }
    .top-meal-listing .meal-box h3{
        padding: 20px 0;
        font-family: "Monserrat", sans-serif;
    }
    .top-meal-listing .meal-box h4{
        padding: 20px 0;
        font-family: "Monserrat", sans-serif;
        color: #325259;
    }
    .meal-box img{
        width: 200px;
        height: 200px;
    }
    .top-meal button{
        width: 200px;
        height: 50px;
        font-size: 1.2em;
    }
}
  